body {
    background-image: url(backgroundbody.jpg);
    background-repeat: repeat;
    background-size: 100%;   
}
/* ini untuk BACKGROUND PROFPIC */
.bgprofpic {
    background-image: url(background\ prof\ pic\ 4.jpg);
    background-size: cover;
}
