body {
  background-image: url(WallpaperDog-17086057.png);
  opacity: 1.5;
  background-repeat: repeat-x;
  background-size: 130vw 130vh;
}
h5 {
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    height: 30px;
    background-image: url(https://wallpaper.dog/large/5486500.png);
}

p {
    color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    height: 50px;
    background-image: url(https://wallpaper.dog/large/5486500.png)
  }

  .table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    height: 50px;
    background-image: url(https://wallpaper.dog/large/5486500.png)
  }
  
  .th, tr, td {
    padding: 8px;
    text-align: left;
    border-bottom: 3px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-image: url(https://wallpaper.dog/large/5486500.png)
  }
  span {
    font-family: Arial, Helvetica, sans-serif;
  }