body{
    background-image: url(homer.jpg);
    background-repeat: repeat;
    background-size: 100%;
    
}

.card {
    background-color: #F3F3F3;
}

nav {
    background-color: #162955;
}
i{
    color:rgb(122, 32, 32);
    
}