<head>
    <title>PROFIL AARON</title>
    <div>
        <link rel="stylesheet" href='bootstrap.min.css'>
        <link rel='stylesheet' href='Style.css'>
    </div>
</head>
<body>
  <center>
    <div class="formatan">
      <ul class="nav">
        <li><a href='https://www.telkomathon.com/'><img src='https://static.wixstatic.com/media/370a7e_5b2071d61a6e4dd88466b627c307fe37~mv2.png/v1/fill/w_224,h_76,al_c,q_85,usm_0.66_1.00_0.01/370a7e_5b2071d61a6e4dd88466b627c307fe37~mv2.webp' width='200'></a></li>
        <li style='padding-top:11px'><a href="#about">About Us</a></li>
        <li style='padding-top:11px'><a href="#clients">Our Clients</a></li>  
        <li><a href='https://wa.me/6282214516519'><button type="button" class="btn btn-info btnku">KONTAK SEKARANG<img src="WhatsApp.png" width='15px' class="gambar" style='padding-top:3px'></button></a></li>
      </ul>      
        <h1 class='heading-one'> WELCOME TO MY PAGE </h1>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="file:///D:/DATA/Desktop/Front%20End/Profile%20Page2/Borneo Tourism.jpg" alt="Borneo Tourism" width='500px'>
              </div>
              <div class="carousel-item">
                <img src="file:///D:/DATA/Desktop/Front%20End/Profile%20Page2/Sociofood.jpg" alt="Sociofood" width='500px'>
              </div>
              <div class="carousel-item">
                <img src="file:///D:/DATA/Desktop/Front%20End/Profile%20Page2/Colex.jpg" alt="COLEX" width='500px'>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="formatan2">
        <div style="background-color: darkgray; border:black 2px solid">
            <span class='span-satu'>Nama : </span>
            <span class='span-dua'>Aaron Hani Kartadi</span><br>
            <span class='span-satu'>TTL: </span> 
            <span class='span-dua'>Semarang, 19 Januari 1993</span><br>
            <span class='span-satu'>Hobi : </span>
            <span class='span-dua'>Surfing the net</span><br>
            <span class='span-satu'>Job : </span>
            <span class='span-dua'>PT Telekomunikasi Indonesia, Tbk<span><br>
            <img src="file:///D:/DATA/Desktop/Front%20End/Profile%20Page2/index.jpg" width='110px' title="aaron hani kartadi"><br>
              <span style="color: black;font-style: normal;"><strong>Catch me UP ! :</strong></span><br>
                <a href="https://github.com/aaronhani"><img src="github.png" width='30px'/></a>
                <a href="https://gitlab.com/aaronhani"><img src="gitlab-icon-rgb.png" width='50px'/></a>
                <a href="https://www.instagram.com/aaronkart/"><img src="Instagram.png" width='60px'/></a>
                <a href="https://www.facebook.com/aaron.kartadi/"><img src="Facebook.png" width='40px'/></a>
                <a href="https://mail.google.com/mail/u/0/#inbox"><img src="file:///D:/DATA/Desktop/Front%20End/Profile%20Page2/gmail-11550710131ybg4iycuir.png" width='50px'/></a><br>
            </div>
        </div>
        <!-- <table style="width:100%">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th> 
            <th>Age</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
          </tr>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>80</td>
          </tr>
        </table> -->
    </div>
    <!-- <button onclick="myalert()"> 
      Gunakan kalkulator
    </button> 

    <script> 
        function myalert() { 
            alert("Selamat datang"); 
        } 
    </script>  -->
  </center>
    <script src='bootstrap.bundle.min.js'></script>
    <script src='Script.js'></script>
    <!-- <script src='tugas-if.js'></script> -->
    <script src='tugas2.js'></script>
</body>